* {
  box-sizing: border-box;
}

ul {
  list-style-type: "★   ";
}

ul li::marker {
  font-size: 13px;
  vertical-align: 20%;
  transform: translateY(-20px);
}

h1.hero {
  font-family: var(--merriweather);
}

.content {
  margin-left: 200px;
  padding: 100px;
  display: flex;
  flex: 1;
  overflow-y: "auto";
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  height: 100%;
  align-items: center;
}

.content p {
  text-align: left;
  font-family: var(--space);
  padding: 10px;
}

.content a {
  text-decoration: none;
  color: var(--saffron);
}

.content-box {
  padding: 10px;
  background-color: light-dark(var(--smoke), var(--licorice));
  width: 100%;
}

.wrapper {
  display: flex;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  width: 100%;
}