@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --plum: #9f353a;
  --darkplum: #8a2b2f;
  --wine: #5C262B;
  --licorice: #2e2126;
  --smoke: #E7E6ED;
  --steel: #003d74;
  --space: #172F4D;
  --saffron: #EBB134;
  --sage: #60935D;
  --moss: #A6A249;
  --mandarin: #D6642F;

  --merriweather: "Merriweather", serif;
  --bricolage: "Bricolage Grotesque", sans-serif;
  --karla: "Karla", sans-serif;
  --space: "Space Grotesk", sans-serif;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: light-dark(var(--licorice), var(--smoke));
  background: light-dark(var(--smoke), hsl(from var(--licorice) h s calc(l - 20%)));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--merriweather);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

p {
  margin: 0;
}